nav {
  font-family: "Roboto", sans-serif;
  background-color: #0067a3;
  height: 40px;
  padding-top: 25px;
  padding-left: 2rem;
  color: #ebecf0;
}

.active {
  color: #fff !important;
  text-decoration: none;
}

nav a {
  color: #ebecf0 !important;
  text-decoration: none;
}
